body {
    background-image: url("file:///Users/chloe/Desktop/grocery_background.png");
}

#scene {
  position: fixed;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

#image-container {
  display: flex;
  position: absolute;
}

#character_changed {
  display: none;
  width: 314.96px;
  height: 400px;
}


.char {
  height: 317.5px;
  width: 250px;
  margin-left: 225px;
  margin-top: 200px;
  position: absolute;

}


.first_cupcake {
  height: 320px;
  width: 340px;
  margin-top: 137px;
  margin-left: 550px;
  /*position: fixed;*/
}

.second_cupcake {
  height: 140px;
  width: 160px;
  margin-top: 193px;
  margin-left: -150px;
}

.grocery_sign {
  height: 125px;
  width: 125px;
  margin-top: 325px;
  margin-left: -1360px;
}

.colorchart {
  height: 120px;
  width: 180px;
  margin-left: -1800px;
  margin-bottom: 0px;
}


.instructions {
  height: 300px;
  width: 600px;
  margin-top: 540px;
  margin-left: -1000px;
  position: absolute;
}

.oat1 {
  height: 200px;
  width: 200px;
  margin-top: 280px;
  margin-left: -1700px;

}

.oat2 {
  height: 200px;
  width: 200px;
  margin-bottom: -465px;
  margin-left: -1580px;
}

.syrup1 {
  height: 200px;
  width: 200px;
  margin-left: -20px;
  margin-top: 150px;
}

.syrup2 {
  height: 200px;
  width: 200px;
  margin-top: 150px;
  margin-left: -110px;
}

.chips1 {
  height: 150px;
  width: 150px;
  margin-top: 123px;
  margin-left: -90px;
}

.chips2 {
  height: 150px;
  width: 150px;
  margin-left: -33px;
  margin-top: 122px;
}


button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

button {
  transition: transform 0.7s ease-in-out;
}
